<table>


  <tr>
      <td><button class="customeBtn">Registered</button></td>
      <td>P0001</td>
      <td>Amtur Rahaman</td>
      <td>1993-02-26 13:54:04</td>
      <td>M</td>
      <td>D1253</td>
      <td></td>
      <td>L00123</td>
      <td>2147483647</td>
      <td>1253 1252 123</td>

  </tr>


</table>

<h2 mat-dialog-title>hjgf</h2>

<mat-dialog-content>

  fcsdfg

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button">Close</button>
  <button class="mat-raised-button mat-primary" >Save</button>
</mat-dialog-actions>