table {
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    width:100%
    }
    
    table, th, td {
      border: 1px solid #5778a8;;
      padding: 1px;
    }
  td{
    padding: 1px;
  }
    .errorcell{
      border:2px solid #dc6b7e !important;
    }
  
    .errorfree{
      border:2px solid #5daf7f !important;
    }
  
    #SubmitBlock {
      padding: 1%;
      margin-top: 20px;
  }