
<div id="medicinePage">


  <div class="wraper-container blockContent">
    <div class="search-container">
       

    </div>

  </div>

  <div class="medFormContainer">
   
    <form [formGroup]="addMedicineForm" (ngSubmit)="onSubmit(addMedicineForm.value)">
          
                 
      <!--test Reg Block-->
      <section class="medregBlock">
              <mat-toolbar>
                  <h5 class="form_block_title">Add Medicine</h5>
                      <div style="width:100%;float: right;text-align:right;">
                          <button mat-raised-button color="primary" class="toplink" (click)="gotoList()" type="button">Back To List </button>
                       
                      </div>
                  </mat-toolbar>
          <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
              <div fxFlex="100%">
                

                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="11.8%" fxLayoutAlign="center">

                        <div fxFlex="75%">
                            <!-- <mat-form-field class="fullwidthinp">
                                <input type="text" placeholder="Medicine Name" matInput formControlName="medicineCtrl" [matAutocomplete]="auto"
                                 >
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of medicines of filtermedcines | async" [value]="medicines.medicine_name">
                                      {{medicines.medicine_name}}
                                    </mat-option>
                                  </mat-autocomplete>
                               
                              </mat-form-field> -->

                              <mat-form-field class="fullwidthinp">
                                  <input type="text" placeholder="Medicine Name" aria-label="Number" matInput formControlName="medicineCtrl" [matAutocomplete]="auto">
                                  <mat-autocomplete #auto="matAutocomplete" >
                                    <mat-option *ngFor="let medcine of filtermedcines | async" [value]="medcine.name">
                                      {{medcine.name}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                          
                        </div>

                      
                    </div>

                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="11.8%" fxLayoutAlign="center">

                        <div fxFlex="75%">
                            

                              <mat-form-field class="fullwidthinp">
                                  <mat-select placeholder="Medicine Type" formControlName="medTypeCtrl" (openedChange)="openedChange($event)" >
                                      <mat-option *ngFor="let medicinestype of medicinesTypeList[0]" [value]="medicinestype.medicine_type">
                                          {{medicinestype.medicine_type}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                          
                        </div>

                      
                    </div>

                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5.5%" fxLayoutAlign="center">

                        <div fxFlex="35%">
                            <mat-form-field>
                            <input matInput placeholder="Brand name" formControlName="brandnameCtrl" autocomplete="off" >
                            </mat-form-field>
                        </div>

                        <div fxFlex="35%">
                            <mat-form-field>
                            <input matInput placeholder="Generic" formControlName="genericCtrl" autocomplete="off" >
                            </mat-form-field>
                          
                        </div>

                      
                    </div>

              </div>
       </div>
          <p style="color: #C34E4E;text-align: left;padding-left: 59px;">{{validFormErr}}</p><br>
          </section>
          <!--End Of test Reg Block-->
           <!--Button Block-->
           <br>
      <section id="testSubmitBlock">
          <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
              <button mat-flat-button [ngClass]="{'avoid_clicks' : this.disableClick}" color="primary" class="phrmcybtn" type="submit"> Save</button>
          </div>
      </section>
  <!-- end of mode check-->


</form>
 

     

  </div>



</div>
