<div id="investigationlistPage">

  <div class="wraper-container">
    <div class="search-container">
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
            
          <div class="invsearchTabs" fxFlex="90%">
                    <mat-toolbar style="background: transparent;justify-content: center;"> 
                            <h4 class="card_title"> Investigation List</h4>
                    </mat-toolbar>
                    <div *ngIf="!isPageloded; else pagedata">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>

                      </div>
                      <ng-template #pagedata>
                    <div class="invtables">
                      <div class="mat-elevation-z8" style="width:98%">
                          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" >
                              <div fxFlex="75%">
                                  <button mat-raised-button color="primary" class="toplink"  type="button" (click)="gotoAdd()" style="margin: 10px;"><i class="material-icons">
                                      add
                                      </i>Add </button>  
                                  
                              </div>
                              <div fxFlex="20%">
                                  <mat-form-field class="fullwidthinp" style="margin-right: 15px;">
                                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                  </mat-form-field>
                              </div>
                              <div fxFlex="5%">
                                  
                                </div>
                      </div>
                      <table mat-table [dataSource]="dataSource" matSort class=" reglisttable" style="width:98%">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                        <!-- Position Column -->
                        <ng-container matColumnDef="slno">
                          <th mat-header-cell *matHeaderCellDef style="width:10%;"> Sl No. </th>
                          <td mat-cell *matCellDef="let row; let i =index;">{{i+1}}  </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="investigation_name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:50%;"> Test Name </th>
                          <td mat-cell *matCellDef="let row">{{row.investigation_name}} </td>
                        </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%;">Status</th>
                              <td mat-cell *matCellDef="let row">
                                  <i class="material-icons activebtn" [ngClass]="{'avoid_clicks' : this.disableClick}" *ngIf="row.is_active=='Y'" (click)="changeStatus(row.investigation_id,'N')" id="invRowBtn_{{row.investigation_id}}">
                                      fiber_manual_record
                                      </i>

                                      <i class="material-icons inactivebtn" [ngClass]="{'avoid_clicks' : this.disableClick}" *ngIf="row.is_active=='N'" (click)="changeStatus(row.investigation_id,'Y')" id="invRowBtn_{{row.investigation_id}}">
                                          fiber_manual_record
                                          </i>

                                  <!-- <button type="button" mat-mini-fab  *ngIf="row.is_active=='Y'" class="prescriptionBtn customeblockBtn activebtn" (click)="changeStatus(row.investigation_id,'N')" id="invRowBtn_{{row.investigation_id}}">
                                      
                                    </button> -->

                                    <!-- <button type="button" mat-mini-fab  *ngIf="row.is_active=='N'" class="prescriptionBtn customeblockBtn inactivebtn" (click)="changeStatus(row.investigation_id,'Y')" id="invRowBtn_{{row.investigation_id}}">
                                       
                                      </button> -->
                              </td>
                            </ng-container>

                         <!-- Name Column -->
                         <ng-container matColumnDef="investigation_id">
                          <th mat-header-cell *matHeaderCellDef style="width:20%;"> Action </th>
                          <td mat-cell *matCellDef="let row">
                           
                            <button type="button" mat-flat-button color="primary" class="prescriptionBtn customeblockBtn" (click)="getInvEditDetail($event,row)" id="invRowBtn_{{row.investigation_id}}">
                              Edit
                          </button>
                          </td>
                        </ng-container>

                       
                
                      
                        
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                     
                      </div>
                      
                      
                      
                    </div>

                  </ng-template>
                  <mat-paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[10,25,50, 100, 200]"  
                  showFirstLastButtons></mat-paginator>


          
          
          
          
                  </div>
 




</div>
