<div id="prescPrintPage">

  <div id="print_presc">

    <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        <div fxFlex="90%">
          <h5>OPD Prescription</h5>
        </div>
    </div>

    <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        <div fxFlex="90%">
         <table style="width: 100%;">
            <tr style="height:40px;">
              <td style="height:40px;">Name </td>
              <td style="height:40px;">Mithilesh Kumar </td>

              <td style="height:40px;">Code </td>
              <td style="height:40px;">E255800 </td>
              
              <td style="height:40px;">Type </td>
              <td style="height:40px;">Dependent  </td>

          

              
            </tr>

            <tr style="height:40px;">
               
                <td style="height:40px;">Mobile </td>
                <td style="height:40px;">9888989898</td>

                <td style="height:40px;">Age </td>
                <td style="height:40px;">25 Yrs.  </td>
  
                <td style="height:40px;">Gender </td>
                <td style="height:40px;">Male </td>
  
  
              </tr>

            
         </table>
        </div>
    </div>

  </div>

</div>



<div id="html-2-pdfwrapper">

   
      <h1 style="display:none;">Presc Test</h1>
       <p style="display:none;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

  </div>



<!--
<button (click)="htmlPDF()">htmlpdfff</button>
<button (click)="abc()">abc</button>


<div id="obrz" > 
  <mat-card> 
 <div>
   <input type="button" value="downloadPdf" (click)="downloadPdf()"/> 
   <input type="button" value="PDF" (click)="generatePDF()"/> 
   <input type="button" value="pdf2" (click)="pdf2()"/> 
   <input type="button" value="generatePDF2" (click)="generatePDF2()"/> 
  </div> 
  </mat-card> 
 </div> 
 <div > 
  <mat-card id="contentToConvert"> 

  <table  style="width:100%"> 
  <tr> 
  <th>Column1</th> 
  <th>Column2</th> 
  <th>Column3</th> 
  </tr> 
  <tr> 
  <td>Row 1</td> 
  <td>Row 1</td> 
  <td>Row 1</td> 
  </tr> 
  <tr> 
    <td>Row 1</td> 
    <td>Row 1</td> 
    <td>Row 1</td> 
    </tr> 
    <tr> 
      <td>Row 1</td> 
      <td>Row 1</td> 
      <td>Row 1</td> 
      </tr> 
      <tr> 
        <td>Row 1</td> 
        <td>Row 1</td> 
        <td>Row 1</td> 
        </tr> 
        <tr> 
          <td>Row 1</td> 
          <td>Row 1</td> 
          <td>Row 1</td> 
          </tr> 
          <tr> 
            <td>Row 1</td> 
            <td>Row 1</td> 
            <td>Row 1</td> 
            </tr> 
            <tr> 
              <td>Row 1</td> 
              <td>Row 1</td> 
              <td>Row 1</td> 
              </tr> 

  </table> 



  <table id="basic-table" >
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Country</th>
          <th>IP-address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="right">1</td>
          <td>Donna</td>
          <td>Moore</td>
          <td>dmoore0@furl.net</td>
          <td>China</td>
          <td>211.56.242.221</td>
        </tr>
        <tr>
          <td align="right">2</td>
          <td>Janice</td>
          <td>Henry</td>
          <td>jhenry1@theatlantic.com</td>
          <td>Ukraine</td>
          <td>38.36.7.199</td>
        </tr>
        <tr>
          <td align="right">3</td>
          <td>Ruth</td>
          <td>Wells</td>
          <td>rwells2@constantcontact.com</td>
          <td>Trinidad and Tobago</td>
          <td>19.162.133.184</td>
        </tr>
        <tr>
          <td align="right">4</td>
          <td>Jason</td>
          <td>Ray</td>
          <td>jray3@psu.edu</td>
          <td>Brazil</td>
          <td>10.68.11.42</td>
        </tr>
        <tr>
          <td align="right">5</td>
          <td>Jane</td>
          <td>Stephens</td>
          <td>jstephens4@go.com</td>
          <td>United States</td>
          <td>47.32.129.71</td>
        </tr>
        <tr>
          <td align="right">6</td>
          <td>Adam</td>
          <td>Nichols</td>
          <td>anichols5@com.com</td>
          <td>Canada</td>
          <td>18.186.38.37</td>
        </tr>
      </tbody>
    </table>


    <h1>Presc Test</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
  
  </mat-card> 
 </div>






 <button (click)="pdf3()">Generate PDF</button>
<div test>
<table id="basic-table" style="display: none;">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Country</th>
      <th>IP-address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="right">1</td>
      <td>Donna</td>
      <td>Moore</td>
      <td>dmoore0@furl.net</td>
      <td>China</td>
      <td>211.56.242.221</td>
    </tr>
    <tr>
      <td align="right">2</td>
      <td>Janice</td>
      <td>Henry</td>
      <td>jhenry1@theatlantic.com</td>
      <td>Ukraine</td>
      <td>38.36.7.199</td>
    </tr>
    <tr>
      <td align="right">3</td>
      <td>Ruth</td>
      <td>Wells</td>
      <td>rwells2@constantcontact.com</td>
      <td>Trinidad and Tobago</td>
      <td>19.162.133.184</td>
    </tr>
    <tr>
      <td align="right">4</td>
      <td>Jason</td>
      <td>Ray</td>
      <td>jray3@psu.edu</td>
      <td>Brazil</td>
      <td>10.68.11.42</td>
    </tr>
    <tr>
      <td align="right">5</td>
      <td>Jane</td>
      <td>Stephens</td>
      <td>jstephens4@go.com</td>
      <td>United States</td>
      <td>47.32.129.71</td>
    </tr>
    <tr>
      <td align="right">6</td>
      <td>Adam</td>
      <td>Nichols</td>
      <td>anichols5@com.com</td>
      <td>Canada</td>
      <td>18.186.38.37</td>
    </tr>
  </tbody>
</table>

<h1>Presc Test</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>

</div>









 <div id="toHTML">Hello World</div>


 <div>contentToConvert
  Hello world From Test
</div>


<button type="button" (click)="test()">pdfdfsf</button>
<button (click)="download()">download!@!@</button>
<button (click)="htmltoPDF()">h2p</button>




<button (click)="htmlPDF()">htmlpdfff</button>
<p id="ignorePDF">don't print this to pdf</p>
<div id="a">
  <p><font size="3" color="red">print this to pdf</font></p>
</div>

-->