#dashboardPage{
 width: 43%;
justify-content: center;
margin-top: 20px;
text-align: center;
display: inline-block;
margin: 0 auto;
margin-top: 0px;
margin-left: 330px;

margin-top: 15%;

font-weight: 313;
color: #8b6ca8;

    }