#opdPreschistoryPage .customizeTbl {
    width: 100%;
    text-align: left;
    font-size: 13px;
    background: #f5f5f5;
    border-radius: 4px;
    padding: 1%;
    color: #383535;
    letter-spacing: 1px;
    margin-bottom: 3%;
}

#opdPreschistoryPage  .vitalContainer {
    font-size: 12px;
    color: #383535;
    letter-spacing: 1px;
    background: #f5f5f5;
    padding: 1%;
    border-radius: 4px;
    margin-bottom: 3%;
}

#opdPreschistoryPage .mat-list-item {
    height: 13px;
    font-size: 13px;
}

#opdPreschistoryPage .mat-dialog-container {

    background: #f2f2f2 !important;
   

}

#opdPreschistoryPage .matSpinner{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
}
#opdPreschistoryPage #norecordsFoundErr {
    text-align: center;
font-size: 1.5rem;
letter-spacing: 2px;
}
