<section class="menuWrapper">
<section id="doctorsmenu" class="menusection">
    <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">invert_colors</i>
            </div>
            <div class="menutitle">
              <p>IPD (Gen+Preg+Vac)</p>
            </div>
            <div class="menubtn">
               <a mat-raised-button routerLink="/panel/todaysnewreg" color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>

        <!--
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">add_box</i>
            </div>
            <div class="menutitle">
              <p>List of OPD's</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        -->

        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">local_pharmacy</i>
            </div>
            <div class="menutitle">
              <p>IPD Registration</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="/panel/ipd" color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">airline_seat_recline_extra</i>
            </div>
            <div class="menutitle">
              <p>List Of IPD's</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="/panel/ipdlist" color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>

        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">verified_user</i>
            </div>
            <div class="menutitle">
              <p>Sick Approval List</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="/panel/sickleaveregister" color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        <!--
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">list_alt</i>
            </div>
            <div class="menutitle">
              <p>IPD LIST</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        -->
        
    </div>


    <!--

    <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center" style="margin-top:0.2%;">
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">assignment</i>
            </div>
            <div class="menutitle">
              <p>IPD LIST</p>
            </div>
            <div class="menubtn">
               <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>

        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">open_with</i>
            </div>
            <div class="menutitle">
              <p>IPD LIST</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>

        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">local_hotel</i>
            </div>
            <div class="menutitle">
              <p>IPD LIST</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">how_to_reg</i>
            </div>
            <div class="menutitle">
              <p>IPD LIST</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        <div fxFlex="20%" class="menucol">
            <div class="icon">
                <i class="material-icons">trip_origin</i>
            </div>
            <div class="menutitle">
              <p>IPD LIST</p>
            </div>
            <div class="menubtn">
                <a mat-raised-button routerLink="." color="warn" >Go <i class="material-icons"> keyboard_arrow_right</i></a>
            </div>
        </div>
        
    </div> -->




</section>  <!--End of doctor section -->
</section>