<div *ngIf="!isloadPDFClick">
    <p style="text-align:center;"><mat-icon class="dialogicon" [style.color]="iconColor" >{{msgIcon}}</mat-icon></p>
    <p class="msg" style="text-align:center;">{{msg}}</p>
</div>

<iframe  name="iframe_a" style="width:100%;height:90%;" *ngIf="isloadPDFClick">
    <p>Your browser does not support iframes.</p>
</iframe>

<div mat-dialog-actions style="display:block;text-align: center;">
    
    <a mat-raised-button color="primary" target="iframe_a" (click)="loadPDFEnable();" id="generatePDF" ><mat-icon>picture_as_pdf</mat-icon>PDF</a>
    <button mat-raised-button color="warn" (click)="redirectToComp()"><mat-icon>cancel</mat-icon> Close</button>
   
</div>
    
    


 