
<div id="challanPage">


  <div class="wraper-container blockContent">
    <div class="search-container">
       

    </div>

  </div>

  <div class="challanFormContainer">
      <form [formGroup]="addChallanForm" (ngSubmit)="onSubmit(addChallanForm.value)">

          
                 
      <!--test Reg Block-->
      <section class="lineregBlock">
              <mat-toolbar>
                <h5 class="form_block_title">Add Challan</h5>
                      <div style="width:100%;float: right;text-align:right;">
                          <button mat-raised-button color="primary" class="toplink" (click)="gotoList()" type="button">Back To List </button>
                       
                      </div>
                  </mat-toolbar><br>
          <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
              <div fxFlex="85%">
                  

                  <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="11.8%" fxLayoutAlign="center">
                      
                   

                      <div fxFlex="100%">
                        <mat-form-field class="fullwidthinp">
                          <mat-select placeholder="Estate" formControlName="estateCtrl" >
                              <mat-option *ngFor="let estates of estateList[0]" [value]="estates.code">
                                  {{estates.name}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
          
                     
                  </div>

                  <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="11.8%" fxLayoutAlign="center">
                      
                    
          
                    <div fxFlex="90%">
                        <mat-form-field class="fullwidthinp" style="width:100%;">
                            <input matInput placeholder="Challan Code" formControlName="chalanCodeCtrl" autocomplete="off" >
                           
                        </mat-form-field>
                    </div>

                    <div fxFlex="90%">
                      <mat-form-field class="fullwidthinp" style="width:100%;">
                          <input matInput placeholder="Challan Name" formControlName="chalanNameCtrl" autocomplete="off" >
                         
                      </mat-form-field>
                  </div>


                
                   
                </div>

                 

                
                  


              </div>

              
          </div>


          <p style="color:#F00;text-align: left;padding-left: 20px;">{{validFormErr}}</p>
          </section>
          <!--End Of test Reg Block-->
           <!--Button Block-->
      <section id="testSubmitBlock">
          <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
              <button mat-flat-button color="primary" class="phrmcybtn" type="submit"> Save</button>
          </div>
      </section>
  <!-- end of mode check-->

</form>

 

     

  </div>



</div>
